<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= publication.title %> - Detalle</title>
</head>
<body>
    <h1><%= publication.title %></h1>
    <p>Tema: <%= publication.themes %> </p>
    <p>Edición: <%= publication.publication_edition %> </p>
    <p>Agradecimientos: <%= publication.acknowledgment %> </p>
    <p><%= publication.description %></p>

    <a href="/publicaciones">Volver al listado</a>
</body>
</html>
