<!DOCTYPE html>
<html lang="ca">

<head>
    <%- include('../partials/head', { title: 'Editar Arquitecte' , cssType: 'form' }) %>
</head>

<body>

    <!-- Header de la página -->
    <%- include('../partials/headerForm', { backUrl: '/architects' , title: 'Editar Arquitecte' }) %>

        <main class="flex-container">
            <!-- Formulario de edición del arquitecto -->
            <section class="form-container">
                <form id="main-form" class="api-form" action="/architects/edit/<%= architect.id_architect %>"
                    method="PUT" data-redirect="/architects">

                    <!-- Campos del formulario -->
                    <div class="form-group">
                        <label for="name">Nom <span class="required">*</span></label>
                        <input type="text" id="name" name="name" value="<%= architect.name %>" required />
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="birth_year">Any de naixement</label>
                            <input type="number" id="birth_year" name="birth_year"
                                value="<%= architect.birth_year %>" />
                        </div>

                        <div class="form-group">
                            <label for="death_year">Any de defunció</label>
                            <input type="number" id="death_year" name="death_year"
                                value="<%= architect.death_year %>" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="nationality">Nacionalitat</label>
                        <input type="text" id="nationality" name="nationality" value="<%= architect.nationality %>" />
                    </div>

                    <div class="form-group">
                        <label for="description">Biografia</label>
                        <textarea id="description" name="description"><%= architect.description %></textarea>
                    </div>
                </form>
            </section>
        </main>

</body>

</html>