<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicacions</title>

    <!-- Css principal y estilo de Emojis y simbolos usandos en la pagina-->
    <link rel="stylesheet" href="/css/paginaPrincipal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>

    <!-- Cabecera de la página -->
    <header class="page-header">

        <!-- Botón para volver atrás -->
        <div class="header-left">
            <a href="/" class="back-link" aria-label="Tornar al menú principal">
                <i class="fas fa-arrow-left"></i>
            </a>
            <h1 class="page-title">Llistat de publicacions</h1>
        </div>

        <!-- Botón para añadir nueva publicación -->
        <div class="header-right">
            <a href="/publications/form" class="add-button">
                <i class="fas fa-plus"></i> Afegir nova publicació
            </a>
        </div>

    </header>

    <!-- Contenido principal -->
    <main class="main-content">
        <!-- Barra de búsqueda para filtrar Publicaciones -->
        <div class="search-bar">
            <i class="fas fa-search"></i>

            <input id="searchInput" type="text" placeholder="Buscar per nom, descripció..." onkeyup="filterPublications()">

            <select id="filterValidation" onchange="filterPublications()"
                style="margin-left: 10px; padding: 5px; border-radius: 5px;">
                <option value="all">Tots</option>
                <option value="true">Validats</option>
                <option value="false">Pendents</option>
            </select>
        </div>

        <!-- Lista de publicaciones -->
        <section class="list">

            <!-- Bucle lógico que recorre todas las publicaciones -->
            <% if (publications && publications.length> 0) { %>
                <% publications.forEach(publication=> { %>

                    <!-- Card de cada publicación, se guardan data para usar en filtros -->
                    <article class="card" data-title="<%= publication.title %>"
                        data-description="<%= (publication.description || '') %>", data-validated="<%= publication.validated %>">

                        <!-- Información principal de la publicación -->
                        <div class="card-info">

                            <h3 class="card-title">
                                <%= publication.title %>
                            </h3>

                            <!-- Descripción de la publicación -->
                            <p class="card-description">
                                <%= publication.description %>
                            </p>

                        </div>

                        <!-- Botones para realizar acciones: Editar y Borrar -->
                        <div class="card-actions">

                            <!-- Editar publicación -->
                            <a href="/publications/edit/<%= publication.id_publication %>" class="edit-button">
                                <img src="/images/icons/edit_icon.png" alt="Editar">Editar
                            </a>

                            <!-- Borrar publicación -->
                            <button type="button" class="delete-button"
                                onclick="deletePublication('<%= publication.id_publication %>')">
                                <img src="/images/icons/trash-2-64.png" alt="Borrar">Eliminar
                            </button>

                            <!-- Validar publicación -->
                            <button class="validation-button"
                                onclick="validateBuilding('<%= publication.id_publication %>')">
                                <img src="/images/icons/check-icon.png" alt="Validar">Validar
                            </button>

                        </div>

                    </article>

                    <% }) %>

                        <% } else { %>

                            <!-- Si no hay publicaciones registradas -->
                            <p class="no-architects">No hi ha publicacions disponibles.</p>

                            <% } %>

        </section>

    </main>

    <!-- Script para filtrado y eliminación -->
    <script src="/scripts/publications/publications.js"></script>

</body>

</html>