<!DOCTYPE html>
<html lang="ca">

<head>
    <meta charset="UTF-8">
    <title>Editar Usuari</title>
    <link rel="stylesheet" href="/css/editForm.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <header class="form-header">
        <a href="/users" class="back-link"><i class="fas fa-arrow-left"></i></a>
        <h1 class="page-title">Editar Usuari</h1>
    </header>

    <main class="form-container">
        <form id="form-edit-user">

            <div class="form-group">
                <label>Nom</label>
                <input type="text" name="name" value="<%= user.name %>"/>
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="text" name="email" value="<%= user.email %>"/>
            </div>

            <div class="form-group">
                <label>Contrasenya</label>
                <input type="password" name="password" value="<%= user.password %>"/>
            </div>

            <div class="form-group">
                <label>Nivell <span class="required">*</span></label>
                <select name="level" required>
                    <option value="Admin" <%=user.level==="Admin" ? "selected" : "" %>>Admin</option>
                    <option value="Editor" <%=user.level==="Editor" ? "selected" : "" %>>Editor</option>
                </select>
            </div>

            <button type="submit" class="submit-button"><i class="fas fa-save"></i> Guardar Canvis</button>

        </form>
    </main>

    <script src="/scripts/users/usersEdit.js"></script>
</body>

</html>