<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Llistat de construccions</title>

    <link rel="stylesheet" href="/css/paginaPrincipal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>

    <header class="page-header">
        <div class="header-left">
            <a href="/" class="back-link"><i class="fas fa-arrow-left"></i></a>
            <h1 class="page-title">Construccions</h1>
        </div>

        <div class="header-right">
            <a href="/buildings/form" class="add-button">
                <i class="fas fa-plus"></i> Afegir nou edifici
            </a>
        </div>
    </header>

    <main class="main-content">

        <!-- Buscador -->
        <div class="search-bar">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Buscar per nom, descripció..." onkeyup="filterBuildings(this.value)">
        </div>

        <section class="list">
            <% if (buildings && buildings.length> 0) { %>
                <% buildings.forEach(building=> { %>
                    <article class="card" data-name="<%= building.name %>"
                        data-description="<%= building.description %>">
                        <h3 class="card-title">
                            <%= building.name %>
                        </h3>

                        <% if (building.picture) { %>
                            <figure class="card-image">
                                <img src="<%= building.picture %>" alt="<%= building.name %>" class="img_list">
                            </figure>
                            <% } %>

                                <p class="card-description">
                                    <%= building.description %>
                                </p>

                                <i class="fas fa-calendar-alt"></i>
                                <span class="creation-date">
                                    <%= building.construction_year %>
                                </span>
                                <div class="card-actions">
                                    <a href="/buildings/edit/<%= building.id_building %>" class="edit-button">
                                        <img src="/images/icons/trash-2-64.png" alt="Editar">
                                    </a>
                                    <button type="button" class="delete-button"
                                        onclick="deleteBuilding('<%= building.id_building %>')">
                                        <img src="/images/icons/trash-2-64.png" alt="Borrar">
                                    </button>
                                </div>
                    </article>

                    <% }) %>

                        <% } else { %>

                            <p class="no-architects">No hi ha construccions disponibles.</p>

                            <% } %>

        </section>

    </main>

    <script src="/scripts/buildings/buildings.js"></script>
</body>

</html>