<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Llistat de construccions</title>
    <!-- Css principal y estilo de Emojis y simbolos usandos en la pagina-->
    <link rel="stylesheet" href="/css/paginaPrincipal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <!-- Cabecera de la Página-->
    <header class="page-header">
        <!-- Botón para volver atrás -->
        <div class="header-left">
            <a href="/" class="back-link"><i class="fas fa-arrow-left"></i></a>
            <h1 class="page-title">Construccions</h1>
        </div>
        <!-- Botón para añadir nuevo edificio -->
        <div class="header-right">
            <a href="/buildings/form" class="add-button">
                <i class="fas fa-plus"></i> Afegir nou edifici
            </a>
        </div>
    </header>

    <!-- Contenido principal -->
    <main class="main-content">

        <!-- Buscador -->
        <div class="search-bar">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Buscar per nom, descripció..." onkeyup="filterBuildings(this.value)">
        </div>

        <!-- Lista de construcciones -->
        <section class="list">
            <!-- Blucle logico que busca que existan buildings en la base de datos-->
            <% if (buildings && buildings.length> 0) { %>
                <% buildings.forEach(building=> { %>
                    <!-- Card de cada construcción , se guardan data en el article para poder usarlo en el filtro -->
                    <article class="card" data-name="<%= building.name.toLowerCase() %>"
                        data-description="<%= building.description.toLowerCase() %>">
                        <!-- Foto de la construcción -->
                        <% if (building.picture) { %>
                            <figure class="card-image">
                                <img src="<%= building.picture %>" alt="<%= building.name %>" class="img_list">
                            </figure>
                            <% } %>

                                <!-- Información principal del edificio -->
                                <div class="card-info">
                                    <h3 class="card-title">
                                        <%= building.name %>
                                    </h3>

                                    <p class="card-coords">
                                        <%= building.coordinates %>
                                    </p>

                                    <p class="card-date">
                                        <i class="fas fa-calendar-alt"></i>
                                        <%= building.construction_year %>
                                    </p>

                                    <p class="card-architect">
                                        <%= building.architect %>
                                    </p>
                                </div>

                                <!-- Descripción del edificio -->
                                <div class="card-description">
                                    <p>
                                        <%= building.description %>
                                    </p>
                                </div>

                                <!-- Botones clicables para poder hacer diferentes acciones: Editar y Borrar -->
                                <div class="card-actions">
                                    <a href="/buildings/edit/<%= building.id_building %>" class="edit-button"> Editar
                                        <img src="" alt="Editar">
                                    </a>

                                    <button class="delete-button"
                                        onclick="deleteBuilding('<%= building.id_building %>')">
                                        <img src="/images/icons/trash-2-64.png" alt="Borrar">Eliminar
                                    </button>
                                </div>

                    </article>

                    <% }) %>
                            <!-- Si no hay construcciones, se muestra un mensaje -->
                        <% } else { %>

                            <p class="no-architects">No hi ha construccions disponibles.</p>

                            <% } %>

        </section>

    </main>
    <!-- Script para el filtrado y eliminación de construcciones -->
    <script src="/scripts/buildings/buildings.js"></script>
</body>

</html>