<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Llistat de construccions</title>
    <!-- Asegúrate de que la ruta a tu CSS sea correcta -->
    <link rel="stylesheet" href="/css/paginaPrincipal.css">
    <!-- Font Awesome para los iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <header class="page-header">
        <div class="header-left">
            <a href="/" class="back-link"><i class="fas fa-arrow-left"></i></a>
            <h1 class="page-title">Construccions</h1>
        </div>
        <div class="header-right">
            <a href="/buildings/form" class="add-button"><i class="fas fa-plus"></i> Afegir nou edifici</a>
        </div>
    </header>

    <main class="main-content">
        <div class="search-bar">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Buscar per nom, descripció..." onkeyup="filterBuildings(this.value)">
        </div>

        <div class="architect-list">
            <% if (buildings && buildings.length> 0) { %>
                <% buildings.forEach(building=> { %>
                    <a href="/buildings/edit/<%= building.id_building %>" class="architect-card-link">
                        <div class="architect-card" data-name="<%= building.name %>"
                            data-description="<%= building.description %>">
                            <div class="card-header">
                                <div class="card-title-group">
                                    <h3>
                                        <%= building.name %>
                                    </h3>
                                </div>

                                <button type="button" class="delete-button"
                                    onclick="deleteBuilding('<%= building.id_building %>')"><i
                                        class="fas fa-trash-alt"></i></button>
                            </div>
                            <p class="card-description">
                                <%= building.description %>
                            </p>
                            <div class="card-footer">
                                <i class="fas fa-calendar-alt"></i>
                                <span class="creation-date">
                                    <%= new Date(building.creation_date).toLocaleDateString('ca-ES') %>
                                </span>
                            </div>
                        </div>
                    </a>
                    <% }); %>
                        <% } else { %>
                            <p class="no-architects">No hi ha construccions disponibles.</p>
                            <% } %>
        </div>
    </main>

    <script src="/scripts/buildings/buildings.js"></script>
</body>

</html>